@media (min-width: 992px) {
     .excite-it-container {
         background: linear-gradient(90deg, #121212 57%, #50141b 100%);
         margin-left: -110px;
         margin-right: -110px;
         font-family: "Roboto", sans-serif;
     }
 }

 @media (min-width: 992px) {
     .excite-it-container {
         min-height: 738px;
     }
 }

 @media (min-width: 992px) {
     .d-lg-flex {
         display: flex !important;
     }
 }

 .excite-it-container .excite-it-bg-image {
     width: auto;
     min-height: 100%;
     max-width: 100%;
     object-fit: cover;
 }

 @media (min-width: 992px) {
     .d-lg-block {
         display: block !important;
     }
 }

 img, svg {
     vertical-align: middle;
 }

 @media (min-width: 992px) {
      .excite-it-container .excite-it-content-wrapper {
         position: absolute;
         left: 0;
         right: 0;
     }
 }

 .z-2 {
     z-index: 2 !important;
 }

 @media (min-width: 992px) {
     .imy-lg-30 {
         margin-top: 120px !important;
         margin-bottom: 120px !important;
     }
 }

 @media (min-width: 992px) {
     .ipt-lg-0 {
         padding-top: 0px !important;
     }
 }

 .excite-it-container .ipx-5 {
     padding-left: 20px !important;
     // padding-right: 20px !important;
 }

 .icontainer {
     max-width: 1340px;
     width: 100%;
     margin-right: auto;
     margin-left: auto;
 }

 

 .align-items-center {
     align-items: center !important;
 }

 .w-100 {
     width: 100% !important;
 }

 @media (min-width: 992px) {
      .excite-it-container .excite-content {
         flex: 1;
     }
 }

 .text-it-white {
     color: #fff !important;
 }

 .lg-text, .lg-title {
     font-size: 36px;
     font-weight: 700;
 }

 .fw-700 {
     font-weight: 700 !important;
 }

 .ipt-6 {
     padding-top: 24px !important;
 }

 .paragraph {
     font-size: 16px;
     font-weight: 400;
     line-height: 1.8 !important;
 }

 p {
     margin-top: 0;
     margin-bottom: 0;
 }

 @media (min-width: 992px) {
     .excite-it-container .excite-video {
         flex: 2;
         height: 498px;
         width: 884px;
     }
 }

 .video-box {
     height: 433px;
 }

 @media (min-width: 992px) {
     .imt-lg-0 {
         margin-top: 0px !important;
     }
 }

 @media (min-width: 992px) {
     .ips-lg-12 {
         padding-left: 48px !important;
         padding-right: 48px !important;
     }
 }



 .video-box iframe {
     width: 100%;
     height: 100%;
 }

 iframe {
     border: 0;
 }

 .ytp-cued-thumbnail-overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-position: center;
     background-repeat: no-repeat;
     -webkit-transition: opacity .25s cubic-bezier(0,0,.2,1);
     transition: opacity .25s cubic-bezier(0,0,.2,1);
     background-size: cover;
     -moz-background-size: cover;
     -webkit-background-size: cover;
 }